{% extends 'landing_page/base.html' %} {% load static %} {% block content %}

<div id="message_div">
  <h1>Learn More about ReeldIn</h1>
</div>
<div id="content_div">
  <div id="title_div">
    <h2>What is ReeldIn?</h2>
    <button id="get_recommendations_btm">Get Recommendations</button>
  </div>

  <div class="about_div content_container">
    <p>
      Movies are a highly valued creative outlet and pastime, but frequently,
      it's hard to choose one. With millions available and more releasing daily,
      the hurdle of picking something to watch can be daunting. ReeldIn intends
      to match users with movies they'll enjoy. Our product is sleek, quick. and
      efficient. We use a combination of user input and machine learning to
      provide the best recommendations possible. We're here to make your
      movie-watching experience as enjoyable as possible.
    </p>
  </div>
</div>

{% endblock content %}
