{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'landing_page/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'landing_page/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'landing_page/css/index.css' %}">
    <title>django template</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>