{% extends 'landing_page/base.html' %}
{% load static %}


{% block content %}

<h1>Welcome to the landing page</h1>

This is a blank landing page which inherits from landing_page/base.html. Feel free to add more routes to this app and edit the base.html file to add more content to the landing page.

<h2>Editing Instructions</h2>

<ol>
    <li>The default favicon can be found in static/landing_page/images/favicon.png. To use your own logo, simply replace favicon.png with your own image <strong>(use the same image name or edit base.html to reflect the new name).</strong></li>
    <li>
        There are two CSS files in this app - <strong>reset.css</strong> and <strong>index.css</strong>.
        <ul>
            <li>reset.css is used to reset the default CSS of the browser. I used <a href="http://meyerweb.com/eric/tools/css/reset/" target="_blank" rel="noopener noreferrer">this</a> CSS reset from Meyerweb but feel free to replace it with Normalize CSS or any other CSS reset.</li>
            <li>index.css is used to style this page. Feel free to delete this CSS file and replace it with your own.</li>
        </ul>
    </li>
</ol>

<p>To log in, click <a href="{% url 'accounts:login' %}">here</a></p>
<p>To register, click <a href="{% url 'accounts:register' %}">here</a></p>


{% endblock content %}



