{% extends 'landing_page/base.html' %} {% load static %} {% block content %}

<div id="message_div">
  <h1>Welcome to ReeldIn</h1>
</div>
<div class="content_div">
  <div id="title_div">
    <h2>Latest Recommendations...</h2>
  </div>
  <div class=" movies_div content_container">
    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>

    <div class="movie tooltip">
      <div class="tooltiptext">
        <h3>Spiderman: Into the Spiderverse</h3>
        <p>Rating: 4.5/5</p>
        <p>Genre: Animation, Action, Adventure</p>
        <p>Year: 2018</p>
        <p>Director: Bob Persichetti, Peter Ramsey, Rodney Rothman</p>
        <button>Click</button>
      </div>

      <img src="{% static 'landing_page/images/spiderverse.webp' %}" alt="Movie 1" />
    </div>
  </div>
</div>

{% endblock content %}