{% extends 'landing_page/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'landing_page/css/movie.css' %}" />
<script src="{% static 'landing_page/js/movie.js' %}"></script>
<div id="message_div">
    <h1>Movie Info Page</h1>
</div>
<div id="content_div"></div>
<div id="movie_name">
    <h2>Dark Knight</h2>
    <div id="movie_button_nav">
        <!-- For testing purposes -->
        <button id="movie-button" onclick="movieOverview()">Overview</button>
        <button id="movie-button" onclick="movieDetails()">Details </button>
        <button id="movie-button" onclick="movieWatching()">Watching</button>
        <button id="movie-button" onclick="movieOptions()">Opinions</button>
    </div>

</div>
<div class="content_container">
    <img 
        src="{% static 'landing_page/images/darkknight.webp' %}"
        alt="The Batman Movie Poster" 
        />
        <p id="movie_summary"> 

        </p>
    </div>
</div>    
{% endblock content %}
