{% extends 'landing_page/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'landing_page/css/movie.css' %}" />

<div id="message_div">
    <h1>Movie Info Page</h1>
</div>
<div id="content_div">
    <!-- add this to css with new id element tag and set to in html file-->
    <div id="movie_name">
        <h2>Dark Knight</h2>
        <!-- check this and move css and add id element tag-->
        <div id="movie_button_nav">
            <!-- these should also be inside -->
            <button id="movie-button">Overview</button>
            <button id="movie-button">Details </button>
            <button id="movie-button">Watching</button>
            <button id="movie-button">Opinions</button>
        </div>
    </div>
    <div class="content_container">
        <img 
            src="{% static 'landing_page/images/darkknight.webp' %}"
            alt="The Batman Movie Poster" 
            />
        <!-- bold before ":" not after-->
        <p id="movie_summary"> <b> This Movie </b>Overview Summary

        </p>
    </div>
</div>    
{% endblock content %}