@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap");

.movies_div {
  overflow-x: auto;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  background-color: var(--black);
  color: var(--white);

  padding: 1rem;
  text-align: center;
}

.movie {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.movie img {
  width: auto;
  height: 350px;
  border-radius: 7px;
  border: 1px solid var(--black);
}

/* Displays over Movie Poster */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  display: none;
  width: 200px;
  height: auto;
  background-color: #00000095;
  color: #fff;
  text-align: left;
  margin: 1rem;
  padding: 15px;
  border-radius: 6px;
  position: absolute;
}

.tooltiptext button {
  font-family: var(--primary-font);
  margin-top: 0.5rem;
  padding: 0.25rem;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background-color: #d6d6d6;
  cursor: pointer;
  border-radius: 5px;
}

.tooltip:hover .tooltiptext {
  display: block;
  transition: all 0.3s ease;
}
