{% extends 'accounts/base.html' %} {% load static %} {% block form %}

<div class="container" id="container">
  <div class="form-container sign-up">
    <form action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      <h1>Create Account</h1>
      <input type="text" placeholder="Name" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button>Sign Up</button>
    </form>
  </div>

  <div class="form-container sign-in">
    <form action="{% url 'accounts:register' %}" method="post">
      {% csrf_token %}
      <h1>Sign In</h1>
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <a href="">Forgot your email or password?</a>
      <button>Sign in</button>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button class="hidden" id="login">Sign In</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Hello, User!</h1>
        <p>Register with your personal details to use all of site features</p>
        <button class="hidden" id="register">Sign Up</button>
      </div>
    </div>
  </div>
</div>

{% endblock form %}
