{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block form %}
    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}

        <h1>Log In</h1>

        {% if message %}
            <p class="error">{{ message }}</p>
        {% endif %}
        <div class="form-group">
            <p class="field-label">
                Username
            </p>
            <input type="text" name="username" id="username">
        </div>

        <div class="form-group">
            <p class="field-label">
                Password
            </p>
            <input type="password" name="password" id="password">
        </div>

        <input type="submit" value="Log In">

        <p class="dont-have">
            Don't have an account? <a href="{% url 'accounts:register' %}">Register here.</a>
        </p>
    </form>

    
{% endblock %}