/* Just copied from 'landing_page/index.css' for now. */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-font: "Inter", sans-serif;
  --heading-color: black;
  --footer-color: green;
}

li {
  margin: 5px 0px;
}

#question {
  font-weight: 600;
  font-size: 5vh;
  color: var(--heading-color);
  text-align: center;
}

#remaining {
  font-weight: 600;
  font-size: 4vh;
  color: var(--footer-color);
  text-align: center;
  padding-bottom: 1%;
  bottom: 0;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  color: var(--heading-color);
}
