{% extends 'dashboard/base.html' %}
{% load static %}


{% block content %}

<h1>Welcome to the dashboard</h1>

This is a blank dashboard page which inherits from dashboard/base.html. It has seperate CSS from the landing page and is located at <strong>dashboard/static/dashboard/css/dashboard.css</strong>.

<p><strong style="color:red;">Note: this page is login restricted and can only be accessed by logged in users.</strong></p>

<h2>Instructions</h2>

<ol>
    <li>
        There is one CSS file in this app - <strong>dashboard.css</strong>. Feel free to replace this CSS with your own custom CSS
    </li>
</ol>


{% endblock content %}



