#error {
  font-size: 275px;
}
.error_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_div button {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 10px;
  background-color: var(--black);
  cursor: pointer;
}
