@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-font: 'Inter', sans-serif;
    --heading-color: #19a26d;
}

strong{
    font-weight: 600;
    color: var(--heading-color);
}

body{
    font-family: var(--primary-font);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
}

li{
    margin: 5px 0px;
}

h1{
    font-weight: 600;
    font-size: 32px;
    color: var(--heading-color);
}

h2{
    font-weight: 600;
    font-size: 28px;
    color: var(--heading-color);
}