@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --primary-font: 'Inter', sans-serif;
}

body{
    background-color: rgb(224, 224, 224);
    font-family: var(--primary-font);
}